[submodule "luau"]
	path = luau
	url = https://github.com/Roblox/luau
	shallow = true
[submodule "raylib"]
	path = raylib
	url = https://github.com/raysan5/raylib
	shallow = true
[submodule "imgui"]
	path = imgui
	url = https://github.com/ocornut/imgui
	shallow = true
[submodule "rlImGui"]
	path = rlImGui
	url = https://github.com/raylib-extras/rlImGui
	shallow = true
